<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Same Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#login" data-whatever="@mdo">Log In <span
            class="sr-only">(current)</span></a>
      </li>

      <li>
        <button class="btn btn-warning" type="button" id="sign-up" class="btn btn-primary" data-toggle="modal"
          data-target="#signup" data-whatever="@mdo">Sign Up</button>
      </li>
    </ul>
    <ul class="nav navbar-right">
      <!-- <div class="col-xs-4"> -->

      <form id="searchbar" style="width: 500px; margin: auto;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by Author or Title" aria-label="Search">

      </form>



      <button class="btn btn-warning" class="btn btn-outline-success" type="submit">Search</button>
      <!-- </div> -->
    </ul>
  </div>

</nav>

{{!-- login modal --}}
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Please sign in </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{!-- this is where login success status displays --}}
          <div id="modal-msg"><p>Please enter your details</p></div>

          <form>
            <div class="form-group">
              <label for="username" class="col-form-label">Username:</label>
              <input type="text"  id="username">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" id="password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn  btn-warning" id="login-button">Confirm</button>
        </div>
      </div>
    </div>
  </div>


{{!-- sign up modal --}}
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Please sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- this is where signup success status displays --}}
        <div id="modal2-msg"><p>Please enter your details</p></div>
        <form>
          <div class="form-group">
            <label for="postUsername" class="col-form-label">Username:</label>
            <input type="text" id="postUsername">
          </div>
          <div class="form-group">
            <label for="postPassword" class="col-form-label">Password:</label>
            <input type="password" id="postPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" id="create-button">Submit</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!-- <div id="toppage"> -->
  <div class="w-100"></div>
  <div class="row">
    <!-- <div class="row align-items-start"> -->
    <div class="col-md-12">
      <h4>Top Rated Books of the Week</h4>

    </div>
  </div>
  <!-- </div> -->
  <div class="w-100"></div>
  <div class="row">
    <div class="row">
        {{#each books}}
        <!-- <div class="row align-items-start"> -->
        <div class="col-md-3">
            <div id="top-week-one">
                <!-- image -->
                <img src="{{image}}" alt="{{title}} cover" class="img img-thumbnail">
                <p id="bookone-title">{{title}}</p>
                <p id="bookone-author">By {{author}}</p>
                <p id="bookone-votes">Current Votes: {{vote}}</p>
                {{!-- <button type="button" class="btn btn-primary vote-button" data-googleid="{{id}}">Vote</button> --}}

                {{!-- <button type="button" class="btn btn-primary vote-button" data-googleid="{{id}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/></svg></button> --}}
            </div>
            <!-- <span id="bookone">Brave New World </span> -->
        </div>
        {{/each}}


  </div>

  <div class="w-100"></div>



  <div class="row">
    <!-- <div class="row align-items-start"> -->
    <div class="col-md-12">
      <button class="btn btn-warning" class="btn btn-outline-success" type="submit">Top This
        Year</button>


      <button class="btn btn-warning" class="btn btn-outline-success" type="submit">Top This
        Year</button>
    </div>
  </div>

  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  <script src="/js/index.js"></script>